*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: blue;
    height: 100vh;
    position: relative;
}

.slider-container{
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}